<div class="md-menu-demo menudemoMenuWidth" ng-controller="WidthDemoCtrl as ctrl" style="min-height:350px" ng-cloak="" ng-app="MyApp">

          
          
            <md-menu-item ng-repeat="item in [1, 2, 3]">
              <md-button ng-click="ctrl.announceClick($index)"></md-button>
            </md-menu-item>
         
        
   
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->