 <div class="col-md-9" ng-controller='chatController'>
 	<div class="row">
 		<div  id='message' class="col-xs-8 chat-window">
 			<ul>
 				<li ng-repeat='message in messages'>
 				<span class="username">{{message.username}}aaaaaaaaaaa</span>
 					<span class="message">{{message.message}}aaaaaaaaaa</span>
 				
 				
 					
 				</li>
 			</ul>
 		</div>
 	
 	<div class="col-xs-4 user-window">
 		<ul>
 			<li ng-repeat='user in users'>{{user}} aaaaaaaaaaaaaa</li>
 		</ul>
 	</div>
 	</div>
 	<div class="row">
 		<form class="form-horizontal">
 			<div class="form-group">
 				<label for='chatInput' class="col-sm-1"> Chat</label>
 				<div class="col-sm-8">
 					<input type="text" class="form-control" id='chatInput' placeholder="message" ng-model='msg'></input>
 				</div>
 				<div class="col-sm-3">
 					<button type="submit" class="btn btn-primary" ng-click='sendMessage(msg)'> Send</button>
 				</div>
 			</div>
 		</form>
 	</div>
 </div>