<div ng-controller="AppCtrl as appCtrl" ng-cloak="" class="gridListdemoBasicUsage" >
  <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile class="gray"  md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">

      <h3 style="text-align: center;">Welcome to Inbox Me <b>{{name}}</b></h3>

    </md-grid-tile>

    <md-grid-tile class="green">
    <h3>{{messageSent}}</h3>
      <md-grid-tile-footer>
        <h3>Messages sent</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
    <h1>{{inbox}}</h1>
      <md-grid-tile-footer>
        <h3>Inbox</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blue" md-rowspan="2">
      <h2>{{friends}}</h2>
      <md-grid-tile-footer>
        <h3>Friends</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
      <h1 style="font-size: 70px;">{{friendsApp}}</h1>
      <md-grid-tile-footer>
        <h3>Frinds in App</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" md-rowspan="2">
      <md-grid-tile-footer>
        <h3>Frinds Online</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>