

<div class="row" ng-controller='MainCtrl'>
<div class="col-md-9 col-md-offset-1">

<div class="md-menu-demo menudemoMenuWidth"  ng-cloak="">
  
   
    <div class="menus" layout-wrap="" layout="row" layout-fill="" layout-align="space-between center">
      
        <md-menu md-offset="0 -6">
          <md-button aria-label="Open demo menu"  ng-click="$mdOpenMenu($event)">
            <label>Send message to : {{desti}}</label>
          </md-button>
          <md-menu-content width="6">
            <md-menu-item ng-repeat="item in ['All friends', 'Friends in the app', 'Friends online']">
              <md-button ng-click='aficher($index)' ng-model='destina'>{{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      

    </div>
  
</div>



<tags-input ng-model="tags" display-property="text" placeholder="Add an adresse" replace-spaces-with-dashes="false">
      <auto-complete source="loadCountries($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     ></auto-complete>
</tags-input>
    




<div class="col-md-8">
  <div class="form-group">
  <label> Subject : </label>
    <div>
      <input class="form-control" type="text" ng-model='subject'></input>
    </div>
  </div>
</div>

<div class="col-md-8">
   <div class="form-group">
    <label for='message'>Your message :</label>
    <text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics']]"></text-angular>
   </div>


</div>

<div class="col-md-8">
<div ng-app="fileUpload" >
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{log}}  {{f.name}}</li>
    </ul>
  
</div>
</div>



<!-- <div class="row">
<div class="col-md-6 col-md-offset-1">

</div>
</div>
 -->


  <div class="col-xs-4 col-xs-offset-9">
    <a href="#" ng-click='sendMessage()' class="btn btn-danger  btn-lg"><span class="fa fa-paper-plane-o"></span> Send</a>
  </div>

</div> 
</div>